.navbar-container{
    padding: 14px 40px;
    background-color: rgb(42, 42, 63);
    color: white;
}

.circle{
    padding: 0 11px;
    border-radius: 50%;
    border: 2px solid rgb(64, 190, 64);
    margin: 0 10px;
}